USE [master]
GO
/****** Object:  Database [MyWebAppDB]    Script Date: 6/15/2025 1:58:28 AM ******/
CREATE DATABASE [MyWebAppDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyWebAppDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MyWebAppDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyWebAppDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MyWebAppDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyWebAppDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyWebAppDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Allergen]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allergen](
	[AllergenID] [int] IDENTITY(1,1) NOT NULL,
	[AllergenName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AllergenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[AuthorID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsPublished] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](50) NOT NULL,
	[SchoolYear] [nvarchar](20) NULL,
	[TeacherID] [int] NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthProfile]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthProfile](
	[ProfileID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ChronicDisease] [nvarchar](255) NULL,
	[VisionTest] [nvarchar](50) NULL,
	[Allergy] [nvarchar](255) NULL,
	[Weight] [decimal](5, 2) NULL,
	[Height] [decimal](5, 2) NULL,
	[LastCheckupDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthReport]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthReport](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[StudentID] [int] NOT NULL,
	[NurseID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagerAdmin]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerAdmin](
	[ManagerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [char](1) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](255) NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalEvent]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalEvent](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[EventType] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[EventTime] [datetime] NOT NULL,
	[NurseID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalInventory]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalInventory](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[Unit] [nvarchar](20) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalUsage]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalUsage](
	[UsageID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[NurseID] [int] NULL,
	[UsageDate] [datetime] NOT NULL,
	[QuantityUsed] [int] NOT NULL,
	[Purpose] [nvarchar](255) NULL,
	[RequestID] [int] NULL,
	[RequestDetailID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineRequest]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineRequest](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[RequestStatus] [nvarchar](50) NULL,
	[StudentID] [int] NOT NULL,
	[ParentID] [int] NULL,
	[Note] [nvarchar](255) NULL,
	[ApprovedBy] [int] NULL,
	[ApprovalDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineRequestDetail]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineRequestDetail](
	[RequestDetailID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[DosageInstructions] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[SentDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nurse]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurse](
	[NurseID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [char](1) NULL,
	[DateOfBirth] [date] NULL,
	[Phone] [nvarchar](20) NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NurseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parent]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent](
	[ParentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [char](1) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParentalConsent]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParentalConsent](
	[ConsentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[VaccinationEventID] [int] NOT NULL,
	[ParentID] [int] NOT NULL,
	[ConsentStatus] [nvarchar](50) NOT NULL,
	[ConsentDate] [datetime] NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParentNotification]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParentNotification](
	[NotificationID] [int] NOT NULL,
	[ParentID] [int] NOT NULL,
	[IndividualSentDate] [datetime] NOT NULL,
	[IndividualStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC,
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchoolCheckup]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolCheckup](
	[CheckupID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Result] [nvarchar](255) NULL,
	[Weight] [decimal](5, 2) NULL,
	[Height] [decimal](5, 2) NULL,
	[BloodPressure] [nvarchar](20) NULL,
	[VisionLeft] [nvarchar](20) NULL,
	[VisionRight] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [char](1) NULL,
	[DateOfBirth] [date] NULL,
	[ClassID] [int] NULL,
	[ParentID] [int] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentAllergy]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAllergy](
	[StudentID] [int] NOT NULL,
	[AllergenID] [int] NOT NULL,
	[Reaction] [nvarchar](255) NULL,
	[Severity] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[AllergenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [char](1) NULL,
	[DateOfBirth] [date] NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[HireDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccinationEvent]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccinationEvent](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](100) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Location] [nvarchar](255) NULL,
	[ManagerID] [int] NULL,
	[ClassID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccineRecord]    Script Date: 6/15/2025 1:58:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineRecord](
	[VaccineRecordID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[VaccinationEventID] [int] NULL,
	[NurseID] [int] NULL,
	[VaccineName] [nvarchar](100) NOT NULL,
	[InjectionDate] [datetime] NOT NULL,
	[Reaction] [nvarchar](255) NULL,
	[FollowUpStatus] [nvarchar](50) NULL,
	[InjectionSite] [nvarchar](50) NULL,
	[NextDoseDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccineRecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([UserID], [Username], [PasswordHash], [Role], [Active]) VALUES (1, N'admin1', N'$2a$12$qJ7vR2v/5ga/UNRyeIS4M.EqI/DtyMf123RjBijE2L7MHkF2O2BD6', N'Admin', 1)
INSERT [dbo].[Account] ([UserID], [Username], [PasswordHash], [Role], [Active]) VALUES (2, N'nurse1', N'$2a$12$9SUmJQWyAjaxaeMEFJ1cou4Iy3VDr3LSwCd.vWX6M/7.rsZ3MahWS', N'Nurse', 1)
INSERT [dbo].[Account] ([UserID], [Username], [PasswordHash], [Role], [Active]) VALUES (3, N'nurse2', N'hash_nurse2', N'Nurse', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Allergen] ON 

INSERT [dbo].[Allergen] ([AllergenID], [AllergenName], [Description]) VALUES (1, N'Phấn hoa', N'Dị ứng phấn hoa')
INSERT [dbo].[Allergen] ([AllergenID], [AllergenName], [Description]) VALUES (2, N'Hải sản', N'Dị ứng hải sản')
INSERT [dbo].[Allergen] ([AllergenID], [AllergenName], [Description]) VALUES (3, N'Sữa', N'Dị ứng sữa')
SET IDENTITY_INSERT [dbo].[Allergen] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([BlogID], [Title], [Content], [ImageUrl], [AuthorID], [CreatedDate], [UpdatedDate], [IsPublished]) VALUES (1, N'Phòng chống cúm học đường', N'Nội dung bài viết 1', NULL, 1, CAST(N'2024-06-01T08:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Blog] ([BlogID], [Title], [Content], [ImageUrl], [AuthorID], [CreatedDate], [UpdatedDate], [IsPublished]) VALUES (2, N'Tầm quan trọng của tiêm chủng', N'Nội dung bài viết 2', NULL, 1, CAST(N'2024-06-02T08:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Blog] ([BlogID], [Title], [Content], [ImageUrl], [AuthorID], [CreatedDate], [UpdatedDate], [IsPublished]) VALUES (3, N'Chăm sóc sức khỏe học sinh', N'Nội dung bài viết 3', NULL, 1, CAST(N'2024-06-03T08:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([ClassID], [ClassName], [SchoolYear], [TeacherID], [Description]) VALUES (1, N'1A', N'2023-2024', 1, N'Lớp 1A')
INSERT [dbo].[Class] ([ClassID], [ClassName], [SchoolYear], [TeacherID], [Description]) VALUES (2, N'1B', N'2023-2024', 2, N'Lớp 1B')
INSERT [dbo].[Class] ([ClassID], [ClassName], [SchoolYear], [TeacherID], [Description]) VALUES (3, N'2A', N'2023-2024', 3, N'Lớp 2A')
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthProfile] ON 

INSERT [dbo].[HealthProfile] ([ProfileID], [StudentID], [ChronicDisease], [VisionTest], [Allergy], [Weight], [Height], [LastCheckupDate]) VALUES (1, 1, N'Không', N'10/10', N'Phấn hoa', CAST(30.50 AS Decimal(5, 2)), CAST(130.00 AS Decimal(5, 2)), CAST(N'2023-09-01' AS Date))
INSERT [dbo].[HealthProfile] ([ProfileID], [StudentID], [ChronicDisease], [VisionTest], [Allergy], [Weight], [Height], [LastCheckupDate]) VALUES (2, 2, N'Hen suyễn', N'9/10', N'Hải sản', CAST(28.00 AS Decimal(5, 2)), CAST(128.00 AS Decimal(5, 2)), CAST(N'2023-09-01' AS Date))
INSERT [dbo].[HealthProfile] ([ProfileID], [StudentID], [ChronicDisease], [VisionTest], [Allergy], [Weight], [Height], [LastCheckupDate]) VALUES (3, 3, N'Không', N'10/10', N'Sữa', CAST(32.00 AS Decimal(5, 2)), CAST(135.00 AS Decimal(5, 2)), CAST(N'2023-09-01' AS Date))
SET IDENTITY_INSERT [dbo].[HealthProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthReport] ON 

INSERT [dbo].[HealthReport] ([ReportID], [Date], [Description], [StudentID], [NurseID]) VALUES (1, CAST(N'2024-06-11T08:00:00.000' AS DateTime), N'Khám sức khỏe định kỳ', 1, 1)
INSERT [dbo].[HealthReport] ([ReportID], [Date], [Description], [StudentID], [NurseID]) VALUES (2, CAST(N'2024-06-12T08:00:00.000' AS DateTime), N'Khám sức khỏe định kỳ', 2, 2)
INSERT [dbo].[HealthReport] ([ReportID], [Date], [Description], [StudentID], [NurseID]) VALUES (3, CAST(N'2024-06-13T08:00:00.000' AS DateTime), N'Khám sức khỏe định kỳ', 3, 1)
SET IDENTITY_INSERT [dbo].[HealthReport] OFF
GO
SET IDENTITY_INSERT [dbo].[ManagerAdmin] ON 

INSERT [dbo].[ManagerAdmin] ([ManagerID], [FullName], [Gender], [DateOfBirth], [Address], [UserID]) VALUES (1, N'Admin AnHNT', N'M', CAST(N'1970-01-01' AS Date), N'Hà Nội', 1)
SET IDENTITY_INSERT [dbo].[ManagerAdmin] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalEvent] ON 

INSERT [dbo].[MedicalEvent] ([EventID], [StudentID], [EventType], [Description], [EventTime], [NurseID]) VALUES (1, 1, N'Ốm', N'Sốt cao', CAST(N'2024-06-01T08:00:00.000' AS DateTime), 1)
INSERT [dbo].[MedicalEvent] ([EventID], [StudentID], [EventType], [Description], [EventTime], [NurseID]) VALUES (2, 2, N'Tai nạn', N'Té ngã', CAST(N'2024-06-02T09:00:00.000' AS DateTime), 2)
INSERT [dbo].[MedicalEvent] ([EventID], [StudentID], [EventType], [Description], [EventTime], [NurseID]) VALUES (3, 3, N'Khám bệnh', N'Khám sức khỏe định kỳ', CAST(N'2024-06-03T10:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[MedicalEvent] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalInventory] ON 

INSERT [dbo].[MedicalInventory] ([ItemID], [ItemName], [Category], [Quantity], [Unit], [Description]) VALUES (1, N'Paracetamol', N'Thuốc', 100, N'viên', N'Hạ sốt')
INSERT [dbo].[MedicalInventory] ([ItemID], [ItemName], [Category], [Quantity], [Unit], [Description]) VALUES (2, N'Vitamin C', N'Thuốc', 200, N'viên', N'Tăng sức đề kháng')
INSERT [dbo].[MedicalInventory] ([ItemID], [ItemName], [Category], [Quantity], [Unit], [Description]) VALUES (3, N'Băng gạc', N'Vật tư', 50, N'cuộn', N'Băng bó vết thương')
SET IDENTITY_INSERT [dbo].[MedicalInventory] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalUsage] ON 

INSERT [dbo].[MedicalUsage] ([UsageID], [ItemID], [StudentID], [NurseID], [UsageDate], [QuantityUsed], [Purpose], [RequestID], [RequestDetailID]) VALUES (1, 1, 1, 1, CAST(N'2024-06-01T08:30:00.000' AS DateTime), 2, N'Hạ sốt', 1, 1)
INSERT [dbo].[MedicalUsage] ([UsageID], [ItemID], [StudentID], [NurseID], [UsageDate], [QuantityUsed], [Purpose], [RequestID], [RequestDetailID]) VALUES (2, 2, 2, 2, CAST(N'2024-06-02T09:30:00.000' AS DateTime), 1, N'Tăng sức đề kháng', 2, 2)
INSERT [dbo].[MedicalUsage] ([UsageID], [ItemID], [StudentID], [NurseID], [UsageDate], [QuantityUsed], [Purpose], [RequestID], [RequestDetailID]) VALUES (3, 3, 3, 1, CAST(N'2024-06-03T10:30:00.000' AS DateTime), 1, N'Băng bó', 3, 3)
SET IDENTITY_INSERT [dbo].[MedicalUsage] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicineRequest] ON 

INSERT [dbo].[MedicineRequest] ([RequestID], [Date], [RequestStatus], [StudentID], [ParentID], [Note], [ApprovedBy], [ApprovalDate]) VALUES (1, CAST(N'2024-06-01T08:00:00.000' AS DateTime), N'Chờ duyệt', 1, 1, N'Xin cấp thuốc hạ sốt', NULL, NULL)
INSERT [dbo].[MedicineRequest] ([RequestID], [Date], [RequestStatus], [StudentID], [ParentID], [Note], [ApprovedBy], [ApprovalDate]) VALUES (2, CAST(N'2024-06-02T09:00:00.000' AS DateTime), N'Đã duyệt', 2, 2, N'Xin cấp vitamin', 1, CAST(N'2024-06-03' AS Date))
INSERT [dbo].[MedicineRequest] ([RequestID], [Date], [RequestStatus], [StudentID], [ParentID], [Note], [ApprovedBy], [ApprovalDate]) VALUES (3, CAST(N'2024-06-03T10:00:00.000' AS DateTime), N'Chờ duyệt', 3, 3, N'Xin băng gạc', NULL, NULL)
SET IDENTITY_INSERT [dbo].[MedicineRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicineRequestDetail] ON 

INSERT [dbo].[MedicineRequestDetail] ([RequestDetailID], [RequestID], [ItemID], [Quantity], [DosageInstructions]) VALUES (1, 1, 1, 10, N'Uống 2 viên/ngày')
INSERT [dbo].[MedicineRequestDetail] ([RequestDetailID], [RequestID], [ItemID], [Quantity], [DosageInstructions]) VALUES (2, 2, 2, 20, N'Uống 1 viên/ngày')
INSERT [dbo].[MedicineRequestDetail] ([RequestDetailID], [RequestID], [ItemID], [Quantity], [DosageInstructions]) VALUES (3, 3, 3, 2, N'Dùng khi cần')
SET IDENTITY_INSERT [dbo].[MedicineRequestDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationID], [Title], [Content], [SentDate], [Status]) VALUES (1, N'Thông báo tiêm chủng cúm', N'Kính gửi quý phụ huynh, trường học sẽ tổ chức tiêm chủng cúm vào ngày 10/06/2024. Vui lòng phản hồi trước ngày 05/06/2024.', CAST(N'2024-06-01T09:00:00.000' AS DateTime), N'Published')
INSERT [dbo].[Notification] ([NotificationID], [Title], [Content], [SentDate], [Status]) VALUES (2, N'Thông báo kết quả khám sức khỏe', N'Kính gửi quý phụ huynh, kết quả khám sức khỏe định kỳ của học sinh đã có. Vui lòng đăng nhập để xem chi tiết.', CAST(N'2024-06-06T14:00:00.000' AS DateTime), N'Published')
INSERT [dbo].[Notification] ([NotificationID], [Title], [Content], [SentDate], [Status]) VALUES (3, N'Nhắc nhở tiêm chủng bổ sung', N'Kính gửi quý phụ huynh, học sinh cần tiêm mũi bổ sung vào ngày 15/07/2024.', CAST(N'2024-07-01T10:00:00.000' AS DateTime), N'Published')
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Nurse] ON 

INSERT [dbo].[Nurse] ([NurseID], [FullName], [Gender], [DateOfBirth], [Phone], [UserID]) VALUES (1, N'Nguyễn Thị Y Tá 1', N'F', CAST(N'1980-06-06' AS Date), N'0921111111', 2)
INSERT [dbo].[Nurse] ([NurseID], [FullName], [Gender], [DateOfBirth], [Phone], [UserID]) VALUES (2, N'Lê Văn Y Tá 2', N'M', CAST(N'1981-07-07' AS Date), N'0922222222', 3)
SET IDENTITY_INSERT [dbo].[Nurse] OFF
GO
SET IDENTITY_INSERT [dbo].[Parent] ON 

INSERT [dbo].[Parent] ([ParentID], [UserID], [FullName], [Gender], [DateOfBirth], [Address], [Phone]) VALUES (1, 4, N'Nguyễn Thị X', N'F', CAST(N'1975-01-01' AS Date), N'Hà Nội', N'0911111111')
INSERT [dbo].[Parent] ([ParentID], [UserID], [FullName], [Gender], [DateOfBirth], [Address], [Phone]) VALUES (2, 5, N'Lê Văn Y', N'M', CAST(N'1976-02-02' AS Date), N'Hồ Chí Minh', N'0912222222')
INSERT [dbo].[Parent] ([ParentID], [UserID], [FullName], [Gender], [DateOfBirth], [Address], [Phone]) VALUES (3, 4, N'Trần Thị Z', N'F', CAST(N'1977-03-03' AS Date), N'Đà Nẵng', N'0913333333')
SET IDENTITY_INSERT [dbo].[Parent] OFF
GO
SET IDENTITY_INSERT [dbo].[ParentalConsent] ON 

INSERT [dbo].[ParentalConsent] ([ConsentID], [StudentID], [VaccinationEventID], [ParentID], [ConsentStatus], [ConsentDate], [Note]) VALUES (1, 1, 1, 1, N'Đã đồng ý', CAST(N'2024-06-08T10:00:00.000' AS DateTime), N'Không có ghi chú')
INSERT [dbo].[ParentalConsent] ([ConsentID], [StudentID], [VaccinationEventID], [ParentID], [ConsentStatus], [ConsentDate], [Note]) VALUES (2, 2, 1, 2, N'Chờ phản hồi', NULL, NULL)
INSERT [dbo].[ParentalConsent] ([ConsentID], [StudentID], [VaccinationEventID], [ParentID], [ConsentStatus], [ConsentDate], [Note]) VALUES (3, 3, 1, 3, N'Từ chối', CAST(N'2024-06-09T11:30:00.000' AS DateTime), N'Con đã tiêm ở ngoài')
SET IDENTITY_INSERT [dbo].[ParentalConsent] OFF
GO
INSERT [dbo].[ParentNotification] ([NotificationID], [ParentID], [IndividualSentDate], [IndividualStatus]) VALUES (1, 1, CAST(N'2024-06-01T09:00:00.000' AS DateTime), N'Sent')
INSERT [dbo].[ParentNotification] ([NotificationID], [ParentID], [IndividualSentDate], [IndividualStatus]) VALUES (1, 2, CAST(N'2024-06-01T09:00:00.000' AS DateTime), N'Sent')
INSERT [dbo].[ParentNotification] ([NotificationID], [ParentID], [IndividualSentDate], [IndividualStatus]) VALUES (1, 3, CAST(N'2024-06-01T09:00:00.000' AS DateTime), N'Sent')
GO
SET IDENTITY_INSERT [dbo].[SchoolCheckup] ON 

INSERT [dbo].[SchoolCheckup] ([CheckupID], [StudentID], [Date], [Result], [Weight], [Height], [BloodPressure], [VisionLeft], [VisionRight]) VALUES (1, 1, CAST(N'2024-06-01T08:00:00.000' AS DateTime), N'Bình thường', CAST(30.50 AS Decimal(5, 2)), CAST(130.00 AS Decimal(5, 2)), N'110/70', N'10/10', N'10/10')
INSERT [dbo].[SchoolCheckup] ([CheckupID], [StudentID], [Date], [Result], [Weight], [Height], [BloodPressure], [VisionLeft], [VisionRight]) VALUES (2, 2, CAST(N'2024-06-01T08:00:00.000' AS DateTime), N'Bình thường', CAST(28.00 AS Decimal(5, 2)), CAST(128.00 AS Decimal(5, 2)), N'110/70', N'9/10', N'9/10')
INSERT [dbo].[SchoolCheckup] ([CheckupID], [StudentID], [Date], [Result], [Weight], [Height], [BloodPressure], [VisionLeft], [VisionRight]) VALUES (3, 3, CAST(N'2024-06-01T08:00:00.000' AS DateTime), N'Bình thường', CAST(32.00 AS Decimal(5, 2)), CAST(135.00 AS Decimal(5, 2)), N'110/70', N'10/10', N'10/10')
SET IDENTITY_INSERT [dbo].[SchoolCheckup] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [FullName], [Gender], [DateOfBirth], [ClassID], [ParentID], [UserID]) VALUES (1, N'Nguyễn Minh K', N'M', CAST(N'2015-01-01' AS Date), 1, 1, NULL)
INSERT [dbo].[Student] ([StudentID], [FullName], [Gender], [DateOfBirth], [ClassID], [ParentID], [UserID]) VALUES (2, N'Lê Thị L', N'F', CAST(N'2015-02-02' AS Date), 2, 2, NULL)
INSERT [dbo].[Student] ([StudentID], [FullName], [Gender], [DateOfBirth], [ClassID], [ParentID], [UserID]) VALUES (3, N'Trần Văn M', N'M', CAST(N'2014-03-03' AS Date), 3, 3, NULL)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
INSERT [dbo].[StudentAllergy] ([StudentID], [AllergenID], [Reaction], [Severity]) VALUES (1, 1, N'Hắt hơi', N'Nhẹ')
INSERT [dbo].[StudentAllergy] ([StudentID], [AllergenID], [Reaction], [Severity]) VALUES (2, 2, N'Nổi mề đay', N'Nặng')
INSERT [dbo].[StudentAllergy] ([StudentID], [AllergenID], [Reaction], [Severity]) VALUES (3, 3, N'Đau bụng', N'Vừa')
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([TeacherID], [FullName], [Gender], [DateOfBirth], [Phone], [Email], [Address], [HireDate]) VALUES (1, N'Nguyễn Văn A', N'M', CAST(N'1980-01-01' AS Date), N'0901111111', N'a@school.com', N'Hà Nội', CAST(N'2010-09-01' AS Date))
INSERT [dbo].[Teacher] ([TeacherID], [FullName], [Gender], [DateOfBirth], [Phone], [Email], [Address], [HireDate]) VALUES (2, N'Lê Thị B', N'F', CAST(N'1982-02-02' AS Date), N'0902222222', N'b@school.com', N'Hồ Chí Minh', CAST(N'2011-09-01' AS Date))
INSERT [dbo].[Teacher] ([TeacherID], [FullName], [Gender], [DateOfBirth], [Phone], [Email], [Address], [HireDate]) VALUES (3, N'Trần Văn C', N'M', CAST(N'1985-03-03' AS Date), N'0903333333', N'c@school.com', N'Đà Nẵng', CAST(N'2012-09-01' AS Date))
SET IDENTITY_INSERT [dbo].[Teacher] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccinationEvent] ON 

INSERT [dbo].[VaccinationEvent] ([EventID], [EventName], [Date], [Location], [ManagerID], [ClassID]) VALUES (1, N'Tiêm phòng cúm', CAST(N'2024-06-10T08:00:00.000' AS DateTime), N'Phòng y tế', 1, 1)
INSERT [dbo].[VaccinationEvent] ([EventID], [EventName], [Date], [Location], [ManagerID], [ClassID]) VALUES (2, N'Tiêm phòng sởi', CAST(N'2024-06-15T08:00:00.000' AS DateTime), N'Phòng y tế', 1, 2)
INSERT [dbo].[VaccinationEvent] ([EventID], [EventName], [Date], [Location], [ManagerID], [ClassID]) VALUES (3, N'Tiêm phòng thủy đậu', CAST(N'2024-06-20T08:00:00.000' AS DateTime), N'Phòng y tế', 1, 3)
SET IDENTITY_INSERT [dbo].[VaccinationEvent] OFF
GO
SET IDENTITY_INSERT [dbo].[VaccineRecord] ON 

INSERT [dbo].[VaccineRecord] ([VaccineRecordID], [StudentID], [VaccinationEventID], [NurseID], [VaccineName], [InjectionDate], [Reaction], [FollowUpStatus], [InjectionSite], [NextDoseDate]) VALUES (1, 1, 1, 1, N'Cúm', CAST(N'2024-06-10T08:30:00.000' AS DateTime), N'Không', N'Đã hoàn thành', N'Tay trái', NULL)
INSERT [dbo].[VaccineRecord] ([VaccineRecordID], [StudentID], [VaccinationEventID], [NurseID], [VaccineName], [InjectionDate], [Reaction], [FollowUpStatus], [InjectionSite], [NextDoseDate]) VALUES (2, 2, 2, 2, N'Sởi', CAST(N'2024-06-15T08:30:00.000' AS DateTime), N'Sốt nhẹ', N'Cần theo dõi', N'Tay phải', CAST(N'2024-07-15' AS Date))
INSERT [dbo].[VaccineRecord] ([VaccineRecordID], [StudentID], [VaccinationEventID], [NurseID], [VaccineName], [InjectionDate], [Reaction], [FollowUpStatus], [InjectionSite], [NextDoseDate]) VALUES (3, 3, 3, 1, N'Thủy đậu', CAST(N'2024-06-20T08:30:00.000' AS DateTime), N'Không', N'Đã hoàn thành', N'Tay trái', NULL)
SET IDENTITY_INSERT [dbo].[VaccineRecord] OFF
GO
/****** Object:  Index [UQ_ParentalConsent]    Script Date: 6/15/2025 1:58:30 AM ******/
ALTER TABLE [dbo].[ParentalConsent] ADD  CONSTRAINT [UQ_ParentalConsent] UNIQUE NONCLUSTERED 
(
	[StudentID] ASC,
	[VaccinationEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT ((1)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[HealthReport] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[MedicalEvent] ADD  DEFAULT (getdate()) FOR [EventTime]
GO
ALTER TABLE [dbo].[MedicalUsage] ADD  DEFAULT (getdate()) FOR [UsageDate]
GO
ALTER TABLE [dbo].[MedicineRequest] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [SentDate]
GO
ALTER TABLE [dbo].[ParentNotification] ADD  DEFAULT (getdate()) FOR [IndividualSentDate]
GO
ALTER TABLE [dbo].[SchoolCheckup] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[VaccinationEvent] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[VaccineRecord] ADD  DEFAULT (getdate()) FOR [InjectionDate]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Teacher]
GO
ALTER TABLE [dbo].[HealthProfile]  WITH CHECK ADD  CONSTRAINT [FK_HealthProfile_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[HealthProfile] CHECK CONSTRAINT [FK_HealthProfile_Student]
GO
ALTER TABLE [dbo].[HealthReport]  WITH CHECK ADD  CONSTRAINT [FK_HealthReport_Nurse] FOREIGN KEY([NurseID])
REFERENCES [dbo].[Nurse] ([NurseID])
GO
ALTER TABLE [dbo].[HealthReport] CHECK CONSTRAINT [FK_HealthReport_Nurse]
GO
ALTER TABLE [dbo].[HealthReport]  WITH CHECK ADD  CONSTRAINT [FK_HealthReport_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[HealthReport] CHECK CONSTRAINT [FK_HealthReport_Student]
GO
ALTER TABLE [dbo].[ManagerAdmin]  WITH CHECK ADD  CONSTRAINT [FK_ManagerAdmin_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[ManagerAdmin] CHECK CONSTRAINT [FK_ManagerAdmin_Account]
GO
ALTER TABLE [dbo].[MedicalEvent]  WITH CHECK ADD  CONSTRAINT [FK_MedicalEvent_Nurse] FOREIGN KEY([NurseID])
REFERENCES [dbo].[Nurse] ([NurseID])
GO
ALTER TABLE [dbo].[MedicalEvent] CHECK CONSTRAINT [FK_MedicalEvent_Nurse]
GO
ALTER TABLE [dbo].[MedicalEvent]  WITH CHECK ADD  CONSTRAINT [FK_MedicalEvent_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[MedicalEvent] CHECK CONSTRAINT [FK_MedicalEvent_Student]
GO
ALTER TABLE [dbo].[MedicalUsage]  WITH CHECK ADD  CONSTRAINT [FK_MedicalUsage_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[MedicalInventory] ([ItemID])
GO
ALTER TABLE [dbo].[MedicalUsage] CHECK CONSTRAINT [FK_MedicalUsage_Item]
GO
ALTER TABLE [dbo].[MedicalUsage]  WITH CHECK ADD  CONSTRAINT [FK_MedicalUsage_Nurse] FOREIGN KEY([NurseID])
REFERENCES [dbo].[Nurse] ([NurseID])
GO
ALTER TABLE [dbo].[MedicalUsage] CHECK CONSTRAINT [FK_MedicalUsage_Nurse]
GO
ALTER TABLE [dbo].[MedicalUsage]  WITH CHECK ADD  CONSTRAINT [FK_MedicalUsage_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[MedicineRequest] ([RequestID])
GO
ALTER TABLE [dbo].[MedicalUsage] CHECK CONSTRAINT [FK_MedicalUsage_Request]
GO
ALTER TABLE [dbo].[MedicalUsage]  WITH CHECK ADD  CONSTRAINT [FK_MedicalUsage_RequestDetail] FOREIGN KEY([RequestDetailID])
REFERENCES [dbo].[MedicineRequestDetail] ([RequestDetailID])
GO
ALTER TABLE [dbo].[MedicalUsage] CHECK CONSTRAINT [FK_MedicalUsage_RequestDetail]
GO
ALTER TABLE [dbo].[MedicalUsage]  WITH CHECK ADD  CONSTRAINT [FK_MedicalUsage_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[MedicalUsage] CHECK CONSTRAINT [FK_MedicalUsage_Student]
GO
ALTER TABLE [dbo].[MedicineRequest]  WITH CHECK ADD  CONSTRAINT [FK_MedicineRequest_Nurse] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Nurse] ([NurseID])
GO
ALTER TABLE [dbo].[MedicineRequest] CHECK CONSTRAINT [FK_MedicineRequest_Nurse]
GO
ALTER TABLE [dbo].[MedicineRequest]  WITH CHECK ADD  CONSTRAINT [FK_MedicineRequest_Parent] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[MedicineRequest] CHECK CONSTRAINT [FK_MedicineRequest_Parent]
GO
ALTER TABLE [dbo].[MedicineRequest]  WITH CHECK ADD  CONSTRAINT [FK_MedicineRequest_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[MedicineRequest] CHECK CONSTRAINT [FK_MedicineRequest_Student]
GO
ALTER TABLE [dbo].[MedicineRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_MedicineRequestDetail_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[MedicalInventory] ([ItemID])
GO
ALTER TABLE [dbo].[MedicineRequestDetail] CHECK CONSTRAINT [FK_MedicineRequestDetail_Item]
GO
ALTER TABLE [dbo].[MedicineRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_MedicineRequestDetail_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[MedicineRequest] ([RequestID])
GO
ALTER TABLE [dbo].[MedicineRequestDetail] CHECK CONSTRAINT [FK_MedicineRequestDetail_Request]
GO
ALTER TABLE [dbo].[Nurse]  WITH CHECK ADD  CONSTRAINT [FK_Nurse_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[Nurse] CHECK CONSTRAINT [FK_Nurse_Account]
GO
ALTER TABLE [dbo].[Parent]  WITH CHECK ADD  CONSTRAINT [FK_Parent_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[Parent] CHECK CONSTRAINT [FK_Parent_Account]
GO
ALTER TABLE [dbo].[ParentalConsent]  WITH CHECK ADD  CONSTRAINT [FK_ParentalConsent_Parent] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[ParentalConsent] CHECK CONSTRAINT [FK_ParentalConsent_Parent]
GO
ALTER TABLE [dbo].[ParentalConsent]  WITH CHECK ADD  CONSTRAINT [FK_ParentalConsent_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[ParentalConsent] CHECK CONSTRAINT [FK_ParentalConsent_Student]
GO
ALTER TABLE [dbo].[ParentalConsent]  WITH CHECK ADD  CONSTRAINT [FK_ParentalConsent_VaccinationEvent] FOREIGN KEY([VaccinationEventID])
REFERENCES [dbo].[VaccinationEvent] ([EventID])
GO
ALTER TABLE [dbo].[ParentalConsent] CHECK CONSTRAINT [FK_ParentalConsent_VaccinationEvent]
GO
ALTER TABLE [dbo].[ParentNotification]  WITH CHECK ADD  CONSTRAINT [FK_ParentNotification_Notification] FOREIGN KEY([NotificationID])
REFERENCES [dbo].[Notification] ([NotificationID])
GO
ALTER TABLE [dbo].[ParentNotification] CHECK CONSTRAINT [FK_ParentNotification_Notification]
GO
ALTER TABLE [dbo].[ParentNotification]  WITH CHECK ADD  CONSTRAINT [FK_ParentNotification_Parent] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[ParentNotification] CHECK CONSTRAINT [FK_ParentNotification_Parent]
GO
ALTER TABLE [dbo].[SchoolCheckup]  WITH CHECK ADD  CONSTRAINT [FK_SchoolCheckup_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[SchoolCheckup] CHECK CONSTRAINT [FK_SchoolCheckup_Student]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Account]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Class]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Parent] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Parent]
GO
ALTER TABLE [dbo].[StudentAllergy]  WITH CHECK ADD  CONSTRAINT [FK_StudentAllergy_Allergen] FOREIGN KEY([AllergenID])
REFERENCES [dbo].[Allergen] ([AllergenID])
GO
ALTER TABLE [dbo].[StudentAllergy] CHECK CONSTRAINT [FK_StudentAllergy_Allergen]
GO
ALTER TABLE [dbo].[StudentAllergy]  WITH CHECK ADD  CONSTRAINT [FK_StudentAllergy_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[StudentAllergy] CHECK CONSTRAINT [FK_StudentAllergy_Student]
GO
ALTER TABLE [dbo].[VaccinationEvent]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationEvent_Class] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ClassID])
GO
ALTER TABLE [dbo].[VaccinationEvent] CHECK CONSTRAINT [FK_VaccinationEvent_Class]
GO
ALTER TABLE [dbo].[VaccinationEvent]  WITH CHECK ADD  CONSTRAINT [FK_VaccinationEvent_ManagerAdmin] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[ManagerAdmin] ([ManagerID])
GO
ALTER TABLE [dbo].[VaccinationEvent] CHECK CONSTRAINT [FK_VaccinationEvent_ManagerAdmin]
GO
ALTER TABLE [dbo].[VaccineRecord]  WITH CHECK ADD  CONSTRAINT [FK_VaccineRecord_Nurse] FOREIGN KEY([NurseID])
REFERENCES [dbo].[Nurse] ([NurseID])
GO
ALTER TABLE [dbo].[VaccineRecord] CHECK CONSTRAINT [FK_VaccineRecord_Nurse]
GO
ALTER TABLE [dbo].[VaccineRecord]  WITH CHECK ADD  CONSTRAINT [FK_VaccineRecord_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[VaccineRecord] CHECK CONSTRAINT [FK_VaccineRecord_Student]
GO
ALTER TABLE [dbo].[VaccineRecord]  WITH CHECK ADD  CONSTRAINT [FK_VaccineRecord_VaccinationEvent] FOREIGN KEY([VaccinationEventID])
REFERENCES [dbo].[VaccinationEvent] ([EventID])
GO
ALTER TABLE [dbo].[VaccineRecord] CHECK CONSTRAINT [FK_VaccineRecord_VaccinationEvent]
GO
USE [master]
GO
